<p style="color: green"><%= notice %></p>

<%= render @company %>

<div class="flex space-x-4 mb-6 text-sm font-medium">
  <div class="flex-auto flex space-x-4">
    <%= link_to "Edit this company", edit_company_path(@company), class: "h-10 px-6 font-semibold rounded-md bg-black text-white" %>
    <%= link_to "Back to companies", companies_path, class: "h-10 px-6 font-semibold rounded-md border border-slate-200 text-slate-900" %>
  </div>
</div>
